.products-section {
  padding: 40px 4%;
  background: #ffffff;
}

.products-header {
  max-width: 780px;
  margin-bottom: 55px;
}

.products-header span {
  /* color: #0f8c53; */
  color: #145c99;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.products-header h1 {
  margin: 18px 0 20px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  color: #222;
}

.products-header p {
  max-width: 650px;
  font-size: 17px;
  line-height: 1.8;
  color: #666;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.product-card {
  background: #fff;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  transition: 0.35s ease;
  text-decoration: none;
  color: inherit;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.08);
}

.product-image {
  height: 220px;
  /* overflow: hidden; */
  background: #f4f4f4;
}

.product-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.5s ease;
}

.product-card:hover .product-image img {
  transform: scale(1.07);
}

.product-content {
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-number {
  color: #0f8c53;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
}

.product-content h3 {
  min-height: 72px; /* adjust as needed */
  margin-bottom: 20px;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
}

.product-content a {
  margin-top: auto;
  text-decoration: none;
  /* color: #0f8c53; */
  color: #145c99;
  font-size: 15px;
  font-weight: 500;
}

.product-content a span {
  transition: 0.3s;
}

.product-content a:hover span {
  margin-left: 8px;
}

/* .product-view {
  margin-top: auto;
  color: #145c99;
  font-size: 15px;
  font-weight: 500;
}

.product-view span {
  transition: 0.3s;
} */

.product-card:hover .product-view span {
  margin-left: 8px;
}

.product-view1 {
  margin-top: 18px;

  width: 105px;
  height: 40px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding-left: 8px;

  background: #0f8c53;
  color: #fff;

  border-radius: 30px;

  font-size: 14px;
  font-weight: 700;

  transition: all 0.35s ease;
}

.product-view-icon {
  width: 26px;
  height: 26px;

  border-radius: 50%;

  background: #fff;
  color: #0f8c53;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;

  transition: all 0.4s ease;
}

.product-card:hover .product-view1 {
  background: #195196;
}

.product-card:hover .product-view-icon {
  color: #195196;
  transform: rotate(45deg);
}

@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .products-section {
    padding: 55px 24px;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .product-image {
    height: 210px;
  }

  .product-content {
    padding: 20px;
  }

  .product-content h3 {
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .products-section {
    padding: 45px 18px;
  }

  .products-header {
    margin-bottom: 32px;
  }

  .products-grid {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .product-card {
    min-height: auto;
  }

  .product-image {
    height: 250px;
  }

  .product-card:hover {
    transform: none;
    box-shadow: none;
  }

  .product-card:hover .product-image img {
    transform: none;
  }
}
